extends layouts/main-layout.pug

block content

    if errorMessage
        span.errorMessage #{errorMessage}
    else 
        script.
            var chatId = '!{chat._id}';

        .chatPageContainer 
            .chatTitleBarContainer 
                +createChatImage(chat, userLoggedIn)
                span#chatName(data-toggle="modal", data-target="#chatNameModal")

            .mainContentContainer
                .loadingSpinnerContainer
                    img(src="/images/loadingSpinner.gif", alt="Spinner gif")
                .chatContainer(style="visibility: hidden", data-room=chat._id)
                    .chatMessages

                    .typingDots 
                        img(src="/images/dots.gif", alt="Typing Dots")

                    .footer
                        textarea.inputTextbox(name="messageInput", placeholder="Type a message...")
                        button.sendMessage
                            i.fas.fa-paper-plane
        +createChatNameModal(chat)

block scripts
    script(src="/js/chatPage.js")